 {% load staticfiles %}
<html>
    <head>
        <title>大杯可樂牛奶的蘋果骨頭</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1>
                <a href="https://www.facebook.com/BIGCOKEMILK/">大杯可樂牛奶的蘋果骨頭</a>
                </br>
                <a href="https://www.facebook.com/BIGCOKEMILK/">
                <img src="http://i.imgur.com/lhb6x01h.png" title="source: imgur.com" /></a>
            </h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>