{% extends 'blog/base.html' %}

{% block content %}

    <div class="guessBack">
    	<div class="guessTitle">
            <h2 class="guessTitleLabel">評分規則</h2>
        </div >
        <div class="guessPas">
            <p></br>
                1.依照Google搜尋引擎的資料比數決定圖片滿分分數。</br>
                2.零秒猜中：滿分，提示一次減10%最多三次機會。</br>
                3.都沒人猜中:總分*10%。</br>
                4.作者能夠使用比手畫腳的方式提示大家，</br>
                但不能發出聲音。</br>
                5.非美術的人圖片分數*1.2。</br>
                6.<span style="font-size:40pt;color:red;">猜中圖片的人可得到和作者一樣的分數 !</span></br>
            </p>
        </div><p2 class="pageNum">9</p2>
        <div class="guessPageNum">|
            <a href="{% url 'post_guess1' %}"> 01 </a> |
            <a href="{% url 'post_guess2' %}"> 02 </a> |
            <a href="{% url 'post_guess3' %}"> 03 </a> |
            <a href="{% url 'post_guess4' %}"> 04 </a> |
            <a href="{% url 'post_guess5' %}"> 05 </a> |
            <a href="{% url 'post_guess6' %}"> 06 </a> |
            <a href="{% url 'post_guess7' %}"> 07 </a> |
            <a href="{% url 'post_guess8' %}"> 08 </a> |
            <a href="{% url 'post_guess9' %}"> 09 </a> |
            <a href="{% url 'post_guess10' %}"> 10 </a> |
            <a href="{% url 'post_guess11' %}"> 11 </a> |
            <a href="{% url 'post_guess12' %}"> 12 </a> |
            <a href="{% url 'post_guess13' %}"> 13 </a> |

        </div >
        <script type="text/javascript">
	        document.getElementById('page-header').style.height=70+"px";
	        document.getElementById('page-header').style.paddingTop=0+"px";
        </script>
    </div>

{% endblock %}