.page-header {
        background-color: #ff9400;
        background-image: url("http://i.imgur.com/lhb6x01h.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top; 
        margin-top: 0;
        padding: 20px 20px 20px 40px;
        height: 390px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: white;
    font-size: 36pt;
    text-decoration: underline;
    text-shadow: 2px 2px 4px black;
}

.title{
    padding: 100px 0px 0px 0px;
}

.bar{
    height: 5px;
    width: 100%;
    background-color: black; 
}

.controlBtn{
    height: 50px;
    width: 100%;
    background-color: #ff9400; 
    font-size: 24pt;
    padding: 4px 0px 0px 40px;

}




.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Microsoft JhengHei', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

/*亂數產生器*/
.randLabel{
    font-size: 100pt;
    font-weight: bold;
    padding-left: 400px;

}

.randView{
    background-color: pink;

}